.spc-parent-comment-container {
	quotes: "“" "”" "‘" "’";
	font-style:italic;
	opacity: .6;
	margin-top: 10px;
	border-left: 3px solid #ddd;
	padding-left: 8px;
}

.spc-parent-comment:before {
    content: open-quote;
}

.spc-parent-comment:after {
    content: close-quote;
}

.spc-show-more {
	float: right;
	margin-left; 15px;
	width: 95px;
	font-weight: bold;
}